dockerized_webapp/app/public/bower_components/
dockerized_webapp/app/public/build/
*.conf
node_modules
bower_components
/.vs

dockerized_webapp/app/test_data/
dockerized_webapp/app/test_server.js
dockerized_webapp/app/package.json.tm
dockerized_webapp/app/t_dev_switch.sh

dockerized_webapp/data_acquisition/loc
*.xml
*.xml.gz

dockerized_webapp/*/utils
dockerized_webapp/*/node_modules

dockerized_webapp/app/public/build/