dockerized_webapp/node_modules/*
dockerized_webapp/public/bower_components/
dockerized_webapp/public/build/
*.pyc
*.conf
node_modules
bower_components
/.vs

dockerized_webapp/test_data.json
dockerized_webapp/test_server.js
dockerized_webapp/package.json.tm
dockerized_webapp/t_dev_switch.sh

dockerized_webapp/data_acquisition/loc
*.xml
*.xml.gz